header {
    width: 100px;
    height: 30px;
    border: 2px black solid;
    float: left;
    padding: 5px;
    background-color: #e0fff3;
}
#infoHeader {
  background-color: #c7e4d8;
  width: 70px;
}

#gender, #names, #skype, #info{
    width: 100px;
    border: 2px black solid;
    float: left;
    padding: 5px;
    background-color: #beffe5;
}
#info{
    width: 70px;
    height: 229px;
    background-color: #c7e4d8;
}


#content {
    border: 3px aqua solid;
    background-color: aquamarine;
    width: 450px;
    float: left;
    padding: 5px;

}

#skypePic, #genderPic, #namePic {
    width: 25px;
    height: 25px;
}

.infoWindow {
    height: 100px;
    border: 2px black solid;
    float: left;
    padding: 5px;
    margin: 20px;
    background-color: #adadad;
}

input {
    float: none;

}

.bright {
    height: 100px;
    border: 2px black solid;
    float: left;
    padding: 5px;
    margin: 20px;
    background-color: #ebf0eb;
}

.brightDiv {
    width: 100px;
    border: 2px black solid;
    float: left;
    padding: 5px;
    background-color: #ddffeb;
}
